### Importing Libraries & Creating a Date Range

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [6]:
date_range = pd.date_range(start='1/01/2018', end='1/08/18',freq='H')
print(date_range)
print(type(date_range[0]))

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

### Data manipulation

In [15]:
df = pd.DataFrame(data=date_range,columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_range)))
print(df.head(10))
print(type(df['date']))

                 date  data
0 2018-01-01 00:00:00    16
1 2018-01-01 01:00:00    17
2 2018-01-01 02:00:00    54
3 2018-01-01 03:00:00    72
4 2018-01-01 04:00:00    76
5 2018-01-01 05:00:00    18
6 2018-01-01 06:00:00    83
7 2018-01-01 07:00:00    31
8 2018-01-01 08:00:00    22
9 2018-01-01 09:00:00    95
<class 'pandas.core.series.Series'>

In [16]:
df['datetime'] = pd.to_datetime(df['date']) # Conversion of Pandas Series to Datetime Index
df.set_index('datetime',inplace=True)
df.drop(['date'],axis=1,inplace=True)
print(df.head(10))

                     data
datetime
2018-01-01 00:00:00    16
2018-01-01 01:00:00    17
2018-01-01 02:00:00    54
2018-01-01 03:00:00    72
2018-01-01 04:00:00    76
2018-01-01 05:00:00    18
2018-01-01 06:00:00    83
2018-01-01 07:00:00    31
2018-01-01 08:00:00    22
2018-01-01 09:00:00    95

### Resampling data at Daily Frequency and computing Daily avarage

In [22]:
df.resample('D').mean()

                 data
datetime
2018-01-01  54.083333
2018-01-02  47.833333
2018-01-03  42.416667
2018-01-04  50.541667
2018-01-05  58.541667
2018-01-06  49.958333
2018-01-07  39.916667
2018-01-08  49.000000

###  Moving avarage & Backfilling

In [24]:
df['moving_avg'] = df.rolling(3).mean()
df.head(10)

                     data  moving_avg
datetime
2018-01-01 00:00:00    16         NaN
2018-01-01 01:00:00    17         NaN
2018-01-01 02:00:00    54   29.000000
2018-01-01 03:00:00    72   47.666667
2018-01-01 04:00:00    76   67.333333
2018-01-01 05:00:00    18   55.333333
2018-01-01 06:00:00    83   59.000000
2018-01-01 07:00:00    31   44.000000
2018-01-01 08:00:00    22   45.333333
2018-01-01 09:00:00    95   49.333333

In [25]:
df['moving_avg_backfilled'] = df['moving_avg'].fillna(method='backfill')
df.head(10)

                     data  moving_avg  moving_avg_backfilled
datetime
2018-01-01 00:00:00    16         NaN              29.000000
2018-01-01 01:00:00    17         NaN              29.000000
2018-01-01 02:00:00    54   29.000000              29.000000
2018-01-01 03:00:00    72   47.666667              47.666667
2018-01-01 04:00:00    76   67.333333              67.333333
2018-01-01 05:00:00    18   55.333333              55.333333
2018-01-01 06:00:00    83   59.000000              59.000000
2018-01-01 07:00:00    31   44.000000              44.000000
2018-01-01 08:00:00    22   45.333333              45.333333
2018-01-01 09:00:00    95   49.333333              49.333333

### Switching Time Zones

In [30]:
epoch_time = 1561473199
real_time = pd.to_datetime(epoch_time,unit='s')
print(real_time)

2019-06-25 14:33:19

In [32]:
real_time.tz_localize('UTC').tz_convert('Asia/Kolkata')

Timestamp('2019-06-25 20:03:19+0530', tz='Asia/Kolkata')